doctype html
html(lang="en")
  head
    title= "this.data"
    link(rel='stylesheet', href='assets/css/style.css')
    link(rel='stylesheet', href='assets/css/font.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css')
