#side-bar

  #header
    #title this.data

    #author
      #name Flávio Sousa
      #social-media
        a(href='//pt.linkedin.com/pub/flávio-sousa/3a/a06/770/', target='_blank')
          i.fa.fa-linkedin
        a(href='//twitter.com/fjmarujo', target='_blank')
          i.fa.fa-twitter
        a(href='//github.com/fjsousa', target='_blank')
          i.fa.fa-github


  #menu

    //- a(href='webrtc-parallel-processing.html')
    //-   span#nav-item-title WebRTC Part 1 
    //- span#nav-item-date 12-01-2015

    br

  #about

    p#about-title About: 
    p
      | this.data is a blog about numbers, modelling 
      | and coding in general

