div#side-bar

  div#header
    #title Some Title

    div#author
      #name Flávio Sousa
      div#social-media
        a(href='//pt.linkedin.com/pub/flávio-sousa/3a/a06/770/', target='_blank')
          i.fa.fa-linkedin
        a(href='//twitter.com/fjmarujo', target='_blank')
          i.fa.fa-twitter
        a(href='//github.com/fjsousa', target='_blank')
          i.fa.fa-github


  div#menu

    a(href='map-reduce-rtc.html')
      span#nav-item-title Map Reduce RTC
    span#nav-item-date 27-12-2014

    br

    a(href='map-reduce-rtc.html')
      span#nav-item-title Mais Cenas
    span#nav-item-date 27-12-2014

    br

    a(href='map-reduce-rtc.html')
      span#nav-item-title Fire Cenas
    span#nav-item-date 27-12-2014