/*global*/
body {
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  color: rgba(0,0,0,0.8);
}

/*Side Bar*/
#side-bar {
  width: 20%;
  /*position: fixed;*/
  float: left;  
  height: 98%;
  text-align: right;
}

#title {
  margin-top: 150px;
  font-size: 50px;
}

#name {
  font-size: 30px;
  margin-top: 20px;
}

#social-media {
  font-size: 20px;
}

#social-media, a {
  color: rgba(0,0,0,0.8);
  margin-left: 10px;
}

#side-bar, a {
  text-decoration: none;
}

#menu {
  margin-top: 40px;
}

#nav-item-date {
  margin-left: 10px;
}

#side-bar, li {
  display: block;
}

#about {
  /*bottom: 100px;*/
  /*position: absolute;*/
  color: rgba(150,150,150,0.8)!important;
}

#about, p {
  margin-top: 0;
  margin-bottom: 0;
}

/*Pages*/
#container {
  width: 80%;
  float: right;
}

#content {
  margin-left: 110px;
  width: 60%;
  float: left;
}

#bar-left {
  width: 10%;
  height: 100%;
  float: left;
}

#bar-right {
  width: 30%;
  height: 100%;
  float: right;
}

#container h1 {
  font-size: 50px;
}

#container p {
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  -webkit-margin-after: 1em;
  -webkit-margin-before: 1em;
  font-style: normal;
}

#container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#container a {
  color: #006699;
}

.hljs {
  font-size: 18px;
}

.equation {
}




