include ./includes/post-layout

  :markdown
    #Forest Fires and Parallel Cellular Automata

    A few years ago, for my dissertation thesis, my supervisor gave me the task to speed up a forest fire algorithm with GPUs.
    The starting point was a library called firelib. It was able to predict fire propagation speed and direction taking in consideration several factors
    like wind, terrain and fuel properties and it was already able to run simulations quite fast. However, my 
    supervisor's idea was to use the library to run uncertainty quantification and stochastic methods. This required 
    to run several hundreds of simulations and then post processing the results to get statistics about fire propagation and error 
    distributions. Each single simulation had to be optimized, otherwise the full amount of simulations couldn't be done 
    faster than real time. 

    ##Dummy algorithm 

    Initially I tried a very dummy implementation of the serial version. The algorithm ran something like this:

    -An outer loop iterates over time and an inner loop iterates in space, over the rows and columns of the 
    spatial domain.

    -The inner loop looks for active cells and propagates the fire outwards, to each one of the 8 neighbours.

    -The ignition time of each neighbour is computed with the formula:

  .equation $$ t + \frac{l}{ROS}$$

  :markdown
    where ROS is called the rate of spread, basically the flame speed in the neighbour direction, function of wind, moisture, terrain, etc.

  .fgm-wrapper
    canvas#fgm-serial(width='400', height='400')
        | Consider updating your browser.
    button.fgmrun(onclick='dumb()') Run


  :markdown
    And this is how the propagation looks like. Notice that each square represents a portion of the terrain 
    and the colour is just a representation of ignition times. So basically, red means that the cell will burn after the yellow or green ones, and much after the blue ones.

  
    The spatial loop run something like this:

    ```Javascript

      function dumbSpatialLoop(){

        t = tn;
        tn = Infinity;


        //Spatial loop that looks for active cells, ie, cells with 
        //ignition time = t
        for ( row = 0; row < rows; row++){
          for ( col = 0; col < cols; col++){
            var idx = col + cols*row;
            
            //Update tn, so that tn is the minimum ignition time for all cells,
            //in a given iteration
            if ( ignitionMap[idx] > t && tn > ignitionMap[idx] ){

              tn = ignitionMap[idx];
              continue;
            } 

            //skips cells that already burned
            if ( ignitionMap[idx] !== t )
              continue;

            //propagate fire for all 8 neighours
            for (var n = 0; n < 8; n++){

              //neighbour index calc
              var ncol = col + ncols[n];
              var nrow = row + nrows[n];
              var nidx = ncol + nrow*cols;

              //Check if neighbour is inbound
              if ( !(nrow >= 0 && nrow < rows && ncol >= 0 && ncol < cols))
                continue;

              // skip if cell has already burned
              if ( ignitionMap[nidx] < t )
                continue;

              //Compute neighbour cell ignition time, based on the propagation speed
              // tcell = current_time + cell distance / flame_speed
              igntime = t + ndist[n] / ROS;


              //Update ignition time in the map only if the the current time is smaller
              if(igntime < ignitionMap[nidx]){
                ignitionMap[nidx] = igntime;
              }

              //Update tn
              if( igntime < tn )
                tn = igntime;
            }
          }
        }


    ```

    Porting this algorithm to GPUs in a straightforward way resulted in very poor performance. I associated each cell with a GPU thread and ended up with threads writing in each other's memory and dealling with race conditions. 

    ![Outer propagation](assets/img/fgm/outer.png "Outer Propagation")

    Also, the process doesn't have a great degree of parallelism because at each time step, very few cells 
    are actually propagating and thus, require computation. Here's the speedups for several scenarios with different values for wind, fuel and moisture:     

    ![Outer propagation](assets/img/fgm/dumb.png "Outer Propagation")

    As you can see, very far from the two orders of magnitude in performance increase. I need to work on something smarter.

    ##Smarter approach 

    The algorithm we've seen takes the very logical approach of propagating the fire from a cell that is burning in the first place, and then from the ones that have ignited and etc. Ignition times in surrounding cells are calculated, as we have seen, like this:

    ```Javascript

      igntime = t + ndist[n] / ROS;

      if(igntime < ignitionMap[nidx]){
        ignitionMap[nidx] = igntime;
      }

    ```
    During the process, the ignition time in each cell is continuously updated, so that if two cells propagate to 
    the same cell, the minimum time of the two is considered and stored as the true ignition time.

    Looking at the problem in another way, what we have, is a condition that says, that the ignition time of each cell, is the minimum of the propagation times from the surrounding cells.

    From this, instead of computing outward ignition times in each neighbour, I 
    compute the inner cell ignition time from each neighbour.

    But now the question imposes, how can I compute ignition times from cells that haven't burned yet? 

    I can iterativly, starting from a random numerical field, impose the conditionin all cells, and iterativly 
    reach a solution that I know is unique because of the condition being imposed .

    Because of the data patern, I no longer have race conditions, and the algoritm is much faster because I no longer end up spending most of the time looking for empty cells.

    ![Outer propagation](assets/img/fgm/inner.png "Outer Propagation")


    ```Javascript

      function smartSpatialLoop(){

        for ( row = 0; row < rows; row++){
          for ( col = 0; col < cols; col++){
            var idx = col + cols*row;

            //skip ignition cell
            if (ignitionMap[idx] === 0)
              continue;

            var minArray = [];
            for (var n = 0; n < 8; n++){

              //neighbour index calc
              var ncol = col + ncols[n];
              var nrow = row + nrows[n];
              var nidx = ncol + nrow*cols;

              //Check if neighbour is inbound
              if ( !(nrow >= 0 && nrow < rows && ncol >= 0 && ncol < cols))
                continue;

              // compute igniton time considering that the flame moves from the neighbour to the 
              // center cell
              var igntime = ignitionMap[nidx] + ndist[n] / rosmap[nidx];
              minArray.push(igntime);

            }
            //associate the minimum of the propagation times to the ignition time 
            // of the center cell
            ignitionMap[idx] = Math.min.apply(null, minArray);;

          }
        }

      }


    ```
  .fgm-wrapper
    canvas#fgm-parallel(width='400', height='400')
        | Consider updating your browser.
    button.fgmrun(onclick='smart()') Run

  :markdown
    ![Outer propagation](assets/img/fgm/smart.png "Outer Propagation")

  #link paper
  #css and responsiveness
  #link do firelib
  #test several devices

